{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} 编辑 {% endblock title %}

{% block head%}
{{ super() }}
<script src="//cdn.ckeditor.com/4.4.6/standard/ckeditor.js"></script>
{% endblock head%}

{% block content %}
<div style="margin-top: 100px">
    <form style="margin-left: 20px; margin-top: 20px" action="/write" method="post" name="login">
        {{ form.hidden_tag() }}
        {{ form.csfr_token }}
        {{ form.title.label }}<br>
        {{ form.title(size=150) }}<br><br>
        {{ form.content.label }}<br>
        {{ form.content(class="ckeditor") }}<br>
        <input type="submit">
    </form>
</div>
{% endblock content %}