{% extends "base.html" %}

<!-- 主要内容 -->
{% block main %}

<div class="jumbotron" align="center" style="margin-top: 20px; margin-left: 2%; margin-right: 2%">
    <h2>{{ hot.title }}</h2>
    <p>{{ hot.intro }}</p>
    <p><a class="btn btn-primary btn-lg" href="{{ url_for('article', id=hot.id) }}" role="button">Read more</a></p>
</div>

<div class="row" style="margin-left:5%; margin-right:5%">
    {% for i in imgs %}

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">

            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1528447479&di=b35afc8ef437e09eb8d1564ff33aa122&imgtype=jpg&er=1&src=http%3A%2F%2Fbpic.ooopic.com%2F15%2F54%2F23%2F15542311-1021d708a98a0ecf6ffc233c61288b22-2.jpg"
                 alt="百度图片">
            <div class="caption">
                <h3>This is a test image</h3>
                <p>This is a test image.This is a test image.This is a test image.This is a test image.This is a
                    test image.This is a test image. </p>
                <p><a href="#" class="btn btn-primary" role="button">More</a></p>
            </div>

        </div>

    </div>
    {% endfor %}
</div>
{% endblock main%}
