<!DOCTYPE html>
<html>
<head> 
    <title>video</title> 
</head>
<body>

<div align="center" width="60%">
    <video controls autoplay>
{#        <source src="https://zxins-1251833924.cos.ap-beijing.myqcloud.com/TransferEasy-1115V2.mp4?sign=q-sign-algorithm%3Dsha1%26q-ak%3DAKIDrLZJIhvHyDAELrNZJ4kw7AfwJLL7aMPe%26q-sign-time%3D1532514016%3B1532515816%26q-key-time%3D1532514016%3B1532515816%26q-header-list%3D%26q-url-param-list%3D%26q-signature%3D88da093ea579246a24e7ac84e1ec22423b4d194f&token=27f96c0b69bd3fa2088e572e60e19748e7a83e7110001&clientIP=111.198.29.81&clientUA=d68579b2-1b5a-4a3a-ac20-307ec1b8464a" type="video/mp4">#}
        <source src="{{ url_for('static', filename='mp4/37.mp4' )}}" type="video/mp4">
        您的浏览器不支持 video 属性。
    </video>
</div>


</body>
</html>